.bib-links a { 
  padding: 2px 4px;
  color: #0088cc;
  text-decoration: none;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;                
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.bib-links a:hover { 
  color: #005580;
  text-decoration: underline;
}

.bib-entry span {  
  display: block;
}

span.bib-title { 
  font-weight: bold;
  display: inline;
}

.bib-title[lang="fr"] { 
  background-image: url('http://apiacoa.org/assets/flags.blogpotato.de/img/fr_small.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 22px;
}

.bib-title[lang="en"] { 
  background-image: url('http://apiacoa.org/assets/flags.blogpotato.de/img/us_small.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 22px;
}

li.bib-entry { 
  margin-bottom: 10px;
}

ul.bib-list { 
  list-style: none; 
  margin-bottom: 20px;
}

span.bib-invisible { display:none; }

span.bib-type { 
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #B8B8B8;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  float: right;
}

span.bib-type:hover 
{  background-color: #999999 ; }

span.bib-type a { color: #ffffff; }

span.article-international-committee,
span.article-national-committee,
span.articles { 
  background-color: #CE807F; 
}

span.article-international-committee:hover,
span.article-national-committee:hover,
span.articles:hover { 
  background-color: #b94a48;
}

span.incollection,
span.book,
span.books,
span.chapters,
span.invited-conf { 
  background-color: #75ABC6; 
}

span.incollection:hover,
span.book:hover,
span.books:hover,
span.chapters:hover,
span.invited-conf:hover { 
  background-color: #3a87ad;
}

span.patent,
span.article-editorial,
span.proceedings-workshop,
span.editorials,
span.proceedings { 
  background-color: #7EAC7E; 
}

span.patent:hover,
span.article-editorial:hover,
span.proceedings-workshop:hover,
span.editorials:hover,
span.proceedings:hover { 
  background-color: #468847;
}

ul.bib-years { list-style:none }
ul.bib-years li { display: inline;   background-color: #f7f7f9;
  border: 1px solid #e1e1e8;                
 }

section.bib-section { 
  padding-top: 50px; 
}

ul.nav-bib-pub-by-type, ul.nav-bib-non-research-pubs { 
  list-style:none; 
  margin: 0px; 
  text-align: center;
}
ul.nav-bib-pub-by-type li, ul.nav-bib-non-research-pubs li { 
  display: inline;   
  line-height: 22px;
 }

ul.nav-bib-pub-by-type li a,
ul.nav-bib-non-research-pubs li a { 
  font-size: 11.844px;
  line-height: 14px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #B8B8B8;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
 }

ul.nav-bib-pub-by-type li.active a, ul.nav-bib-pub-by-type li a:hover,
ul.nav-bib-non-research-pubs li.active a, ul.nav-bib-non-research-pubs li a:hover { 
 background-color: #999999;
}


ul.nav-bib-pub-by-type li a[href="#pub-articles"] { 
  background-color: #CE807F;
 }

ul.nav-bib-pub-by-type li a[href="#pub-articles"]:hover, 
ul.nav-bib-pub-by-type li.active a[href="#pub-articles"] { 
  background-color: #b94a48;
 }

ul.nav-bib-pub-by-type li a[href="#pub-books"], ul.nav-bib-pub-by-type li a[href="#pub-chapters"], 
ul.nav-bib-pub-by-type li a[href="#invited-conf-pub"] { 
  background-color: #75ABC6;
 }
ul.nav-bib-pub-by-type li a[href="#pub-books"]:hover, ul.nav-bib-pub-by-type li a[href="#pub-chapters"]:hover, 
ul.nav-bib-pub-by-type li a[href="#pub-invited-conf"]:hover,
ul.nav-bib-pub-by-type li.active a[href="#pub-books"], ul.nav-bib-pub-by-type li.active a[href="#pub-chapters"],
ul.nav-bib-pub-by-type li.active a[href="#pub-invited-conf"] { 
  background-color: #3a87ad;
 }

ul.nav-bib-pub-by-type li a[href="#pub-editorials"], ul.nav-bib-pub-by-type li a[href="#pub-proceedings"] { 
  background-color: #7EAC7E;
 }
ul.nav-bib-pub-by-type li a[href="#pub-editorials"]:hover, ul.nav-bib-pub-by-type li a[href="#pub-proceedings"]:hover,
ul.nav-bib-pub-by-type li.active a[href="#pub-editorials"], ul.nav-bib-pub-by-type li.active a[href="#pub-proceedings"] { 
  background-color: #468847;
 }

ul.nav-bib-pub-by-year { 
  list-style:none; 
  margin: 0px; 
  text-align: center;
}

ul.nav-bib-pub-by-year li { 
  display: inline;   
  line-height: 24px;
 }

ul.nav-bib-pub-by-year li.active a { 
  background-color: white;
  border: none;
  padding: 1px 5px 2px;
 }

ul.nav-bib-pub-by-year li a { 
  display: inline;   
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  background-color: #f7f7f9;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #a0a0a0;
  margin: 0px;
  color: #000000;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

ul.nav-bib-pub-by-year li a:hover {   
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
 }

span.bib-badge-year { 
  font-size: 11.844px;
  font-weight: bold;
  background-color: #f7f7f9;
  border: 1px solid #a0a0a0;
  margin: 0px;
  padding: 1px 4px 2px;
  float: right;
  text-align: center;
  line-height: 14px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

span.bib-badge-year:hover { 
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 3px rgba(0, 105, 214, 0.25);
}
span.bib-badge-year a { color: #000000; }
